
.quiz-result-text{
    width: 100%;
    font-size: 18px;
    padding:10px;
    height:25%;
    text-align: center;
}

.quiz-result-btn{
    width:100%;
    height:15%;
    padding: 0px 10px 0px 10px;
    button{
        width: 100%;
    }
}

.quiz-result-icon{
    width:100%;
    padding: 70px 20px 70px 0px;
    height:60%;
    svg{
            height: 100%;
            width: 100%;
        }
}
.quiz-result-container{
   height: 100%;
    width: 100%;
}

.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}