<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar hideBackButton class="app-page-name" [color]="themeColor">
		<ion-buttons left>
			<button ion-button icon-only (click)="goHome()">
				<ion-icon name="arrow-round-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title class="list-title">{{pageTitle}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="quiz-result-container">
		<div class="quiz-result-icon">
			<svg class="cup-margin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 584.28 436.52">
				<defs>
					<style>
						.cls-1 {
							fill: #fdce98;
						}
						
						.cls-1,
						.cls-13,
						.cls-14,
						.cls-15,
						.cls-16,
						.cls-17,
						.cls-18,
						.cls-2,
						.cls-24,
						.cls-3,
						.cls-4,
						.cls-5,
						.cls-6,
						.cls-7 {
							fill-rule: evenodd;
						}
						
						.cls-2 {
							fill: #e6d0a6;
						}
						
						.cls-3 {
							fill: #e8b983;
						}
						
						.cls-4 {
							fill: #fff;
						}
						
						.cls-5 {
							fill: #e5e5e5;
						}
						
						.cls-6 {
							fill: #fe5f55;
						}
						
						.cls-7 {
							fill: #7c2f2d;
						}
						
						.cls-8 {
							fill: url(#GradientFill_5);
						}
						
						.cls-9 {
							fill: url(#GradientFill_7);
						}
						
						.cls-10,
						.cls-13 {
							fill: #ffbe03;
						}
						
						.cls-11,
						.cls-14 {
							fill: #ffd96b;
						}
						
						.cls-12 {
							fill: url(#GradientFill_5-2);
						}
						
						.cls-15 {
							fill: url(#GradientFill_5-3);
						}
						
						.cls-16 {
							fill: url(#GradientFill_5-4);
						}
						
						.cls-17 {
							fill: url(#GradientFill_5-5);
						}
						
						.cls-18 {
							fill: #f79014;
						}
						
						.cls-19 {
							fill: url(#GradientFill_5-6);
						}
						
						.cls-20 {
							fill: url(#GradientFill_5-7);
						}
						
						.cls-21 {
							fill: url(#GradientFill_6);
						}
						
						.cls-22 {
							fill: url(#GradientFill_6-2);
						}
						
						.cls-23 {
							fill: url(#GradientFill_5-8);
						}
						
						.cls-24 {
							fill: #ffe7cc;
						}
					</style>
					<linearGradient id="GradientFill_5" x1="231.22" y1="92.98" x2="816.54" y2="92.98" gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#f49600" />
						<stop offset="1" stop-color="#fcbe00" />
					</linearGradient>
					<linearGradient id="GradientFill_7" x1="-17.63" y1="92.98" x2="567.7" y2="92.98" gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#ffdb68" />
						<stop offset="1" stop-color="#fcbe00" />
					</linearGradient>
					<linearGradient id="GradientFill_5-2" x1="406.49" y1="182.35" x2="406.49" y2="342.88" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_5-3" x1="380.06" y1="162.57" x2="449.74" y2="162.57" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_5-4" x1="321.77" y1="105.67" x2="517.21" y2="105.67" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_5-5" x1="370.3" y1="343.07" x2="450.19" y2="343.07" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_5-6" x1="371.69" y1="29.77" x2="514.11" y2="29.77" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_5-7" x1="386.83" y1="362.38" x2="461.01" y2="362.38" xlink:href="#GradientFill_5" />
					<linearGradient id="GradientFill_6" x1="298.78" y1="396.12" x2="501.14" y2="396.12" gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#bb5616" />
						<stop offset="1" stop-color="#8b3e05" />
					</linearGradient>
					<linearGradient id="GradientFill_6-2" x1="284.61" y1="425.18" x2="515.31" y2="425.18" xlink:href="#GradientFill_6" />
					<linearGradient id="GradientFill_5-8" x1="362.22" y1="395.28" x2="437.7" y2="395.28" xlink:href="#GradientFill_5" />
				</defs>
				<title>quiz_voucher</title>
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<path class="cls-1" d="M413.47,209a72.92,72.92,0,0,0-103.11,1.67c-28,28.93-25.7,68.9,3.24,96.91s85.32,22.35,104-5.19S442.4,237,413.47,209Z"
						/>
						<polygon class="cls-2" points="333.72 216.58 232.36 218.76 232.37 317.48 329.25 315.39 333.72 216.58" />
						<path class="cls-3" d="M371.82,214.62c-4.13-20.24-23.69-20.67-41.45-7.61S262.85,237.46,267,257.7c1.54,7.55,2,55.59,6.59,58.89l50.28-1.08c15.54,10.57,42.31,14.67,68.76,5.36,10.81-3.8,38.85-2.59,43.81-11.4,14.75-26.23,24.86-75.61-.16-91.58C424.69,210.51,373.09,220.85,371.82,214.62Z"
						/>
						<path class="cls-1" d="M370.41,212.83c-4.65-17.58-23.85-21.3-42.88-8.32s-30.69,37.76-26,55.33,23.85,21.3,42.88,8.32S375.06,230.4,370.41,212.83Z"
						/>
						<polygon class="cls-1" points="333.72 216.58 232.36 218.76 232.37 277.81 324.28 275.83 333.72 216.58" />
						<polygon class="cls-4" points="279.46 207.9 279.46 325.66 227.99 327.01 227.99 209.25 279.46 207.9" />
						<polygon class="cls-5" points="279.46 266.78 279.46 326.33 227.99 327.01 227.99 267.46 279.46 266.78" />
						<polygon class="cls-6" points="0 200.89 0 332.51 235.94 334.02 235.94 202.4 0 200.89" />
						<polygon class="cls-7" points="0 267.12 0 333.26 235.94 334.02 235.94 267.88 0 267.12" />
						<path class="cls-8" d="M544.46,38.29a6.59,6.59,0,0,1-4.58-7.87,6.1,6.1,0,0,1,7.31-4.93c10.58,2.62,17.79,12.06,15.35,23.7a18.49,18.49,0,0,1-4.05,8.24c-4.67,5.47-12.94,8.75-23.76,6.46A30.83,30.83,0,0,1,511,42.48a34,34,0,0,1-1.25-14.35,32.81,32.81,0,0,1,4.92-13.65C520.52,5.39,531.18-1,546.5.12c9.55.68,19.24,6.06,26.37,14.22a47,47,0,0,1,8.66,14.49,43.2,43.2,0,0,1,2.68,17.75c-.63,10.29-5,21.06-14.89,31-13.11,13.28-30.45,22.53-48.56,32.19-9,4.78-18.13,9.67-26.92,15.15s-14.14,11.49-17,17.5a23.2,23.2,0,0,0-2.31,13.19,19.56,19.56,0,0,0,4.87,10.52,20.56,20.56,0,0,0,11.07,6.26c5.79,1.23,10-.94,12.18-4.2a10.4,10.4,0,0,0,1.71-4.56,7.64,7.64,0,0,0-.52-4c-1.1-2.42-4-4.22-9.25-4.16a6.57,6.57,0,0,1-.1-13.11c10.67-.12,17.25,4.85,20.28,11.51a21.46,21.46,0,0,1,1.71,11.37,24.26,24.26,0,0,1-4,10.68c-4.71,7-13.23,11.77-24.41,9.39a32.55,32.55,0,0,1-17.47-10,33,33,0,0,1-8.21-17.77A37,37,0,0,1,466,136.45c3.89-8.1,10.9-16.08,21.75-22.84,9.12-5.68,18.48-10.67,27.64-15.56,17.27-9.21,33.81-18,45.6-30,7.35-7.45,10.63-15.17,11.07-22.35a29.2,29.2,0,0,0-1.82-12A33.7,33.7,0,0,0,564,23.34c-5.09-5.82-11.82-9.64-18.3-10.11-10.44-.75-17.41,3.13-21,8.71a19.12,19.12,0,0,0-2.87,7.94,20,20,0,0,0,.73,8.44c1.84,5.91,6.66,11,14.51,12.67,6.14,1.3,10.37,0,12.44-2.45a5.05,5.05,0,0,0,1.14-2.23,4.7,4.7,0,0,0-.12-2.35C549.66,41.2,550.35,39.75,544.46,38.29Z"
						/>
						<path class="cls-9" d="M255.38,37.92A6.59,6.59,0,0,0,260,30.05a6.1,6.1,0,0,0-7.31-4.93c-10.69,2.65-18.78,12-16.26,24.08a18.49,18.49,0,0,0,4.05,8.24c4.67,5.47,12.94,8.75,23.76,6.46a30.83,30.83,0,0,0,23.72-21.41,34,34,0,0,0,1.25-14.35,32.82,32.82,0,0,0-4.92-13.65C278.4,5.39,267.74-1,252.42.12c-9.55.68-19.24,6.06-26.37,14.22a47,47,0,0,0-8.66,14.49,43.19,43.19,0,0,0-2.68,17.75c.64,10.29,5,21.06,14.89,31,13.11,13.28,30.45,22.53,48.56,32.19,9,4.78,18.13,9.67,26.92,15.15s14.14,11.49,17,17.5a23.2,23.2,0,0,1,2.31,13.19,19.57,19.57,0,0,1-4.87,10.52,20.56,20.56,0,0,1-11.07,6.26c-5.79,1.23-10-.94-12.18-4.2a10.39,10.39,0,0,1-1.71-4.56,7.63,7.63,0,0,1,.52-4c1.1-2.42,4-4.22,9.25-4.16a6.57,6.57,0,0,0,.1-13.11c-10.67-.12-17.25,4.85-20.28,11.51a21.48,21.48,0,0,0-1.71,11.37,24.29,24.29,0,0,0,4,10.68c4.71,7,13.23,11.77,24.41,9.39a32.56,32.56,0,0,0,17.46-10,33,33,0,0,0,8.21-17.77A37,37,0,0,0,333,136.45c-3.89-8.1-10.9-16.08-21.75-22.84-9.12-5.68-18.48-10.67-27.64-15.56-17.27-9.21-33.81-18-45.6-30-7.35-7.45-10.63-15.17-11.07-22.35a29.2,29.2,0,0,1,1.82-12,33.67,33.67,0,0,1,6.22-10.38c5.09-5.82,11.81-9.64,18.3-10.11,10.44-.75,17.4,3.13,21,8.71a19.1,19.1,0,0,1,2.86,7.94,20,20,0,0,1-.73,8.44c-1.84,5.91-6.67,11-14.51,12.67-6.14,1.3-10.37,0-12.44-2.45a5,5,0,0,1-1.14-2.23C247.26,41.43,251.7,38.83,255.38,37.92Z"
						/>
						<rect class="cls-10" x="386.15" y="174.85" width="27.63" height="168.03" />
						<rect class="cls-11" x="386.15" y="174.85" width="6.4" height="168.03" />
						<rect class="cls-12" x="399.2" y="182.35" width="14.57" height="160.53" />
						<path class="cls-13" d="M444.14,140.94a44.18,44.18,0,1,1-88.36,0Z" />
						<path class="cls-14" d="M409,184.2a44.22,44.22,0,0,1-53.17-43.27h5.09C369.06,168.82,383.65,187.32,409,184.2Z" />
						<path class="cls-15" d="M444.14,140.94A44.2,44.2,0,0,1,409,184.2c-13.3-4.15-23.29-21.94-23.29-43.27Z" />
						<path class="cls-13" d="M503.39,54a103.43,103.43,0,1,1-206.85,0Z" />
						<path class="cls-14" d="M388.51,156.75A103.44,103.44,0,0,1,296.53,54h9.36C317.24,102.51,340.61,149.12,388.51,156.75Z" />
						<path class="cls-16" d="M388.51,156.75c-31.12-17.1-52.93-56.68-52.93-102.79h167.8A103.43,103.43,0,0,1,400,157.38,104.45,104.45,0,0,1,388.51,156.75Z"
						/>
						<path class="cls-13" d="M444.14,365a44.18,44.18,0,0,0-88.36,0Z" />
						<path class="cls-17" d="M444.14,365a44.19,44.19,0,0,0-38.36-43.8c-16.61,2.85-29.43,21.37-29.43,43.8Z" />
						<path class="cls-14" d="M400,320.79A44.18,44.18,0,0,0,355.78,365h4.68C367.71,341.24,380.4,323.7,400,320.79Z" />
						<rect class="cls-10" x="338.91" y="352.26" width="122.1" height="20.25" />
						<rect class="cls-11" x="338.91" y="352.26" width="21.55" height="20.25" />
						<path class="cls-18" d="M503.24,59.54q-.26,4.8-.94,9.48H297.63q-.68-4.68-.94-9.48Z" />
						<rect class="cls-10" x="285.81" width="228.29" height="59.54" />
						<rect class="cls-19" x="371.69" width="142.42" height="59.54" />
						<rect class="cls-20" x="386.83" y="352.26" width="74.19" height="20.25" />
						<rect class="cls-21" x="298.78" y="371.31" width="202.35" height="49.62" />
						<rect class="cls-22" x="284.61" y="413.84" width="230.71" height="22.68" />
						<rect class="cls-23" x="362.22" y="381.23" width="75.49" height="28.1" />
						<rect class="cls-11" x="285.81" width="46.06" height="59.54" />
						<path class="cls-3" d="M413.44,214.74c-8.18.21-15.31,16.57-14.47,28.95s-9.65,15.94-9.23,29.37-1.26,19.09-.63,29.16,33.77,9.86,42,9.23S444.7,212.43,413.44,214.74Z"
						/>
						<path class="cls-3" d="M449.63,187.77c-.37-4.4-3.57-4.36-7.19-4l-60.69,4.16c-6.28.6-15.15,7.77-14.51,15.41h0c.64,7.64,5.59,15.63,11.87,15l53.79-5.88C445.73,211.06,450.41,197.17,449.63,187.77Z"
						/>
						<path class="cls-1" d="M449.63,187.77a7.14,7.14,0,0,0-7.72-6.47l-85.4,7.58c-6.76.61-15.69,6.38-15.1,13.15h0c.6,6.76,6.92,13.22,13.68,12.61l76-7.59C442.09,205.94,450.36,196.09,449.63,187.77Z"
						/>
						<path class="cls-24" d="M446.56,182.53a7.07,7.07,0,0,0-4.65-1.23l-18.74,1.48a46.4,46.4,0,0,0,5.68,11.78C436.71,194.3,448.24,190.38,446.56,182.53Z"
						/>
						<path class="cls-1" d="M469.48,227.37c.85,5.42-4.72,14.1-13.65,14.32l-55.12,1.2c-7.71.17-13.57-5.36-14.31-13.65A14,14,0,0,1,400,214.92l55.12-1.2A14,14,0,0,1,469.48,227.37Z"
						/>
						<path class="cls-1" d="M464.79,256.71c.85,5.42-4.72,14.1-13.65,14.32l-62.3,1.35c-7.71.17-13.57-5.35-14.31-13.65a14,14,0,0,1,13.65-14.31l62.3-1.35A14,14,0,0,1,464.79,256.71Z"
						/>
						<path class="cls-1" d="M460.44,285.91c.84,5.42-4.72,14.1-13.65,14.32l-62.3,1.35c-7.71.17-13.57-5.36-14.31-13.65a14,14,0,0,1,13.65-14.31l62.3-1.35A14,14,0,0,1,460.44,285.91Z"
						/>
						<path class="cls-1" d="M452.85,313.11c.73,4.7-4.09,12.21-11.82,12.4l-50.83,1.1c-6.67.15-11.75-4.64-12.39-11.82a12.14,12.14,0,0,1,11.82-12.39l50.83-1.1A12.16,12.16,0,0,1,452.85,313.11Z"
						/>
						<path class="cls-24" d="M403.82,240.45l-3.65.08c-15.15.33-15.73-22.82-.55-23.14l3.65-.08C410.85,217.15,410.94,239.6,403.82,240.45Z"
						/>
						<path class="cls-24" d="M392.1,269.82l-3.65.08c-15.15.33-15.73-22.82-.55-23.14l3.65-.08C399.13,246.52,399.21,269,392.1,269.82Z"
						/>
						<path class="cls-24" d="M388.22,298.95l-3.65.08c-15.15.33-15.73-22.81-.55-23.14l3.65-.08C395.25,275.64,395.33,298.1,388.22,298.95Z"
						/>
						<path class="cls-24" d="M393.25,324.54l-3.23.07c-13.42.29-13.94-20.22-.49-20.51l3.23-.07C399.48,303.89,399.55,323.79,393.25,324.54Z"
						/>
						<path class="cls-3" d="M423.75,218.64c1.72,4.45,1.87,11.41,0,18.72C429.49,232.78,428.95,222.2,423.75,218.64Z" />
						<path class="cls-3" d="M418.24,248c1.72,4.45,1.87,11.42,0,18.72C424,262.09,423.43,251.5,418.24,248Z" />
						<path class="cls-3" d="M409.79,277.39c1.72,4.45,1.87,11.42,0,18.72C415.53,291.53,415,280.94,409.79,277.39Z" />
						<path class="cls-3" d="M410.77,306.23c1.59,4.11,1.73,10.54,0,17.29C416.07,319.28,415.57,309.51,410.77,306.23Z" />
					</g>
				</g>
			</svg>
		</div>
		<div class="quiz-result-text">
			Dich hebst eine snuikzak gewonne biej ein van de jeugdaktiviteite vanne Zoatmaale. Voorwaarden: 1 per kind, tot max. 12 jaar, prijs enkel voor de eerste 50  winnaars, geldig tot en met 28-2-2017.
		</div>
		<div class="quiz-result-btn">
			<button ion-button color="firstColor" round block (click)="redeemVoucher()">Waerdebon inlevere</button>
		</div>
	</div>
</ion-content>