<ion-header>
  <ion-toolbar [color]="themeColor" class="toolbar-padding">
		<ion-title text-center>
			<div class="app-name-text">
			<svg width="30" height="5">
				<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
			</svg>
			Zoatmaale Jeugd
			<svg width="30" height="5">
				<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
			</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
<div class="container-mitlast">
	  <div class="img_carn_last" alt="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.03 91.15">
        <title>mitdoon_carnaval</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1"><path
            class="cls-1"
            d="M107.65,30.53a2.28,2.28,0,0,0-.54.11C103.77,22.07,95.91,16,86.33,17c-8.14.85-13.59,6.65-15.93,13.85v0l-.79,4.57-1.89,1.09h0c-.07,0-7.35,4.06-10.19,14.67L56.76,51c2.52-9.37,8.23-13.67,10-14.83v0l2.12-1.21.65-3.8a84.1,84.1,0,0,0-1.74-10.19c-1.31-5.58-3.27-11.35-6.89-15.88C57.66,1,52.85-1,47.72.53,44.62,1.47,42.09,3.8,40,6.18a38.9,38.9,0,0,0-3,4c-.41.63-.78,1.34-1.17,2a2.62,2.62,0,1,0,1,1c1.91-1.59,4.31-2.78,6.57-1.53a7.47,7.47,0,0,1,3,3.87c1.73-1.93,4.31-4.11,7.14-4.11a.4.4,0,1,1,0,.8c-2.67,0-5.2,2.29-6.82,4.18a30.67,30.67,0,0,1,1,3.58c.15.69.26,1.39.37,2.1,1.72-1.86,4.2-3.86,6.91-3.86a.4.4,0,0,1,0,.8c-2.64,0-5.14,2.24-6.76,4.11a47,47,0,0,1,.17,8.51c-.2,3.06-.63,6.48-2.13,9.23A23.94,23.94,0,0,0,41,35.55l.14,0C39.33,26,32.19,17.74,21.85,17.81c-9.64.06-16.79,7-19.16,15.83a2.25,2.25,0,0,0-.55,0,2.26,2.26,0,1,0,2.38,2.13,2.23,2.23,0,0,0-.58-1.38,21.33,21.33,0,0,1,10.59-7.62h0a17.14,17.14,0,0,1,12.42-.06c.48.19.14.92-.34.72A16.31,16.31,0,0,0,15,27.4,24.79,24.79,0,0,1,19.17,36a22.22,22.22,0,0,0-7.67,12h-.11a2.28,2.28,0,1,0,1.48.46,21,21,0,0,1,9.64-7.15l.6-.23.26-.1h0a17.09,17.09,0,0,1,11.81.13c.48.2.14.92-.34.73a16.22,16.22,0,0,0-11-.17,35.83,35.83,0,0,1,5,10,31.64,31.64,0,0,0-14.75,7.81c-2.3,2.3-3.61,2.93-3,5.46a42.28,42.28,0,0,0,3,8.76A79.6,79.6,0,0,0,17.93,81c2.34,3.81,4.87,7.25,9.3,8.84a20.61,20.61,0,0,0,8.26,1.33,11.68,11.68,0,0,0,4.43-1.47A25.94,25.94,0,0,0,44,87.37a30.81,30.81,0,0,0,3.67-2.91s4.5-4.38,7.52-5.05c3,.67,7.52,5.05,7.52,5.05a30.8,30.8,0,0,0,3.67,2.91,25.87,25.87,0,0,0,4.1,2.28,11.67,11.67,0,0,0,4.43,1.47,20.6,20.6,0,0,0,8.26-1.33c4.42-1.59,7-5,9.29-8.84a79.14,79.14,0,0,0,3.93-7.24,42.18,42.18,0,0,0,3-8.76c.59-2.53-.39-3.84-3-6.26-6-4.68-7-6.59-12.68-7.25,0-3.81,1.55-7.23,3.3-10.53a16.88,16.88,0,0,0-11.06,1.67c-.45.25-.73-.5-.29-.75a17.33,17.33,0,0,1,13.32-1.22,20.72,20.72,0,0,1,9.64,5.84,2.25,2.25,0,1,0,1.8-1.08,2.27,2.27,0,0,0-.62.13A22.18,22.18,0,0,0,91,34.81a24.78,24.78,0,0,1,3.21-9,16.86,16.86,0,0,0-11.05,1.82c-.45.25-.74-.5-.3-.74a17.51,17.51,0,0,1,11.74-1.8v0l.36.1c.37.09.75.18,1.11.3a20.69,20.69,0,0,1,9.88,6,2.25,2.25,0,1,0,1.7-.95ZM45.28,51.13H40.79c1.68-2.72.65-5.86-1-8.39C43,44.23,44.71,47.68,45.28,51.13ZM23.15,60.32a3.69,3.69,0,0,1,.39-1.12,3.82,3.82,0,0,1,.61-.84,4.22,4.22,0,0,1,.66-.6,3.47,3.47,0,0,1,1.31-.62,1.77,1.77,0,0,1,.94,0,1.31,1.31,0,0,1,.29.13l0,.12a1.92,1.92,0,0,0-.28.05,1.71,1.71,0,0,0-.64.34,3.73,3.73,0,0,0-.74.83,4.07,4.07,0,0,0-.59,1.22,1.78,1.78,0,0,0,0,1.23,2.78,2.78,0,0,0,1,1c.12.09.27.18.41.26l.21.12.25.14c.3.15.64.32,1,.47a10.3,10.3,0,0,0,2.21.64c.77.13,1.55.22,2.33.27l2.3.16c.75.06,1.48.12,2.17.23l.91.16-1.74-.69c-.72-.26-1.44-.52-2.18-.76a11.11,11.11,0,0,1-2.13-1,6.1,6.1,0,0,1-1.7-1.6,5.17,5.17,0,0,1-.86-2,4.62,4.62,0,0,1,.09-1.82A6.44,6.44,0,0,1,29.6,56l.27-.54a5,5,0,0,1,.47-.68l.18-.22.11,0s0,.1,0,.29,0,.45,0,.77a8.72,8.72,0,0,0,.1,1.11,4.43,4.43,0,0,0,1.14,2.44c.36.38.77.78,1.25,1.2s1,.89,1.58,1.33a13.77,13.77,0,0,0,1.86,1.22c.67.34,1.33.7,2,1s1.34.64,2,1a20,20,0,0,1,1.78,1l.13.09c-.27-.29-.54-.57-.81-.89S41,64.43,40.73,64a9.61,9.61,0,0,1-.79-1.28,3.54,3.54,0,0,1-.31-.7,4.41,4.41,0,0,1-.22-.73c0-.25-.07-.5-.09-.75a6,6,0,0,1,.06-.72l0-.34.11-.31c.07-.21.15-.4.23-.58a7.09,7.09,0,0,1,.59-.88,1.43,1.43,0,0,1,.3-.32l.28-.24a4.67,4.67,0,0,1,.55-.41l.1.08a6.19,6.19,0,0,1-.22.64c-.07.2-.2.41-.27.68s-.2.55-.27.86c0,.16-.06.32-.1.48l-.06.25c0,.09,0,.17,0,.26s0,.35,0,.53,0,.37.05.56a4.11,4.11,0,0,0,.12.58,2.62,2.62,0,0,0,.19.6,8.06,8.06,0,0,0,.58,1.2c.25.39.49.77.77,1.14l.81,1.09c.54.71,1,1.38,1.43,2a9.11,9.11,0,0,1,.52.84h0a5.37,5.37,0,0,1,.43.72,4.24,4.24,0,0,1,.3.71l.1.25-.12,0L45.7,70l-.08-.17h0l-.36-.55a6.32,6.32,0,0,0-.43-.6c-.11-.15-.23-.3-.36-.46a8.13,8.13,0,0,0-.94-.82,12.44,12.44,0,0,0-1.51-1c-.56-.31-1.16-.62-1.79-.91l-.08,0-.52-.15-.83-.18c-.58-.1-1.22-.19-1.89-.24s-1.39-.09-2.13-.11l-2.31,0c-.79,0-1.6,0-2.41-.1s-1.64-.12-2.47-.22c-.42-.07-.82-.15-1.24-.25l-.28-.08L25.74,64c-.2-.08-.4-.15-.6-.26a3.61,3.61,0,0,1-1.9-2A2.89,2.89,0,0,1,23.15,60.32ZM45,75.13s-6.26,3.31-11.93,1.38-8.62-8.37-8.62-8.37,6.26-3.31,11.93-1.38S45,75.13,45,75.13Zm4.51-.94A3.69,3.69,0,0,1,49,75.65a4.19,4.19,0,0,1-1.39,1.24,13.37,13.37,0,0,1-1.81.81,16.86,16.86,0,0,0-1.83.81,8.41,8.41,0,0,0-.84.5,8.82,8.82,0,0,0-.82.62A4.67,4.67,0,0,0,41.16,81,1.87,1.87,0,0,0,41,82.4a2.64,2.64,0,0,0,2,1.68A1.53,1.53,0,0,0,44,84a1.36,1.36,0,0,0,.59-.64,2.87,2.87,0,0,0,.22-.64l.06-.25H45l.06.26a2.41,2.41,0,0,1,.05.79,1.94,1.94,0,0,1-.57,1.23,2.39,2.39,0,0,1-1.71.64,3.68,3.68,0,0,1-2-.6,3.29,3.29,0,0,1-1.47-1.94,3.12,3.12,0,0,1,.43-2.45l-.13,0A6.48,6.48,0,0,0,38.54,80,9.83,9.83,0,0,0,37,79.89c-1.12,0-2.42.08-3.84.11-.39,0-.78,0-1.18,0s-.63.17-1,.31c-1.14.4-2.6,1.08-4.22,1.51a5.27,5.27,0,0,1-2.53.14,2.65,2.65,0,0,1-1.11-.57,2.88,2.88,0,0,1-.69-.86,3.75,3.75,0,0,1-.3-.84A4.56,4.56,0,0,1,22,79c0-.37,0-.58,0-.58h.08s.1.19.24.51l.29.55a5.75,5.75,0,0,0,.41.65,2.65,2.65,0,0,0,1.42,1,5,5,0,0,0,2.18,0c1.55-.28,3.08-.88,4.27-1.15l.4-.09-.32,0a8.47,8.47,0,0,1-1.14-.2,9.79,9.79,0,0,1-1.1-.33,13.57,13.57,0,0,1-2.08-1,12.67,12.67,0,0,1-1.84-1.26c-.28-.23-.54-.48-.79-.73a9,9,0,0,1-.67-.79,5.87,5.87,0,0,1-.92-1.7,3.08,3.08,0,0,1-.19-.85,2.55,2.55,0,0,1,0-.79,3.65,3.65,0,0,1,.31-1.22,5,5,0,0,1,.41-.68l.16-.22.07,0-.08.26a4.55,4.55,0,0,0-.2.71,4.18,4.18,0,0,0-.06,1.11,2.53,2.53,0,0,0,.1.66,3.1,3.1,0,0,0,.23.7A6.12,6.12,0,0,0,24,75.14c.18.25.42.46.62.71s.47.46.72.69A13.6,13.6,0,0,0,27,77.79a12.68,12.68,0,0,0,1.93,1,8.87,8.87,0,0,0,1,.36,7.88,7.88,0,0,0,1.05.23,14.67,14.67,0,0,0,2.13.16c1.4,0,2.72,0,3.85.07a10.21,10.21,0,0,1,1.53.23,6.45,6.45,0,0,1,1.14.36l.14.06h0a6.37,6.37,0,0,1,1.71-1.66,10.39,10.39,0,0,1,.94-.59,9.78,9.78,0,0,1,1-.5,17.53,17.53,0,0,1,2-.69,15.26,15.26,0,0,0,1.77-.6,3.55,3.55,0,0,0,1.27-.9,3.24,3.24,0,0,0,.58-1.21A6.61,6.61,0,0,0,49.32,73c0-.62,0-1,0-1h.16s0,.35.11,1A5.77,5.77,0,0,1,49.54,74.19ZM72.35,42.74c-1.7,2.53-2.73,5.67-1,8.39H66.82C67.39,47.68,69.15,44.23,72.35,42.74ZM86.68,75.11a6.19,6.19,0,0,0,.85-1.46,3.09,3.09,0,0,0,.23-.7,2.49,2.49,0,0,0,.1-.66,4.14,4.14,0,0,0-.06-1.11,4.57,4.57,0,0,0-.2-.71l-.07-.26.07,0,.16.22a5,5,0,0,1,.41.68,3.65,3.65,0,0,1,.31,1.22,2.59,2.59,0,0,1,0,.79,2.93,2.93,0,0,1-.19.85,5.9,5.9,0,0,1-.91,1.7,9.77,9.77,0,0,1-.67.8c-.26.24-.52.49-.79.73A12.77,12.77,0,0,1,84,78.4a13.57,13.57,0,0,1-2.08,1,9.6,9.6,0,0,1-1.11.33,8.48,8.48,0,0,1-1.13.2l-.33,0,.4.09c1.19.27,2.72.87,4.27,1.15a5,5,0,0,0,2.18,0,2.66,2.66,0,0,0,1.42-1,5.64,5.64,0,0,0,.41-.65l.28-.56c.14-.32.24-.51.24-.51h.08s0,.21,0,.58a4.72,4.72,0,0,1-.1.66,3.75,3.75,0,0,1-.3.84,2.81,2.81,0,0,1-.69.86,2.62,2.62,0,0,1-1.11.57,5.25,5.25,0,0,1-2.53-.14c-1.61-.43-3.08-1.11-4.22-1.51-.38-.14-.72-.24-1-.31s-.8,0-1.18,0c-1.42,0-2.72-.16-3.84-.11a10.11,10.11,0,0,0-1.51.15A6.46,6.46,0,0,0,71,80.3a4.63,4.63,0,0,0-.66.27,3.07,3.07,0,0,1,.31,2.25,3.29,3.29,0,0,1-1.47,1.94,3.68,3.68,0,0,1-2,.6,2.39,2.39,0,0,1-1.71-.64,1.92,1.92,0,0,1-.57-1.23,2.4,2.4,0,0,1,.05-.79l.06-.26h.16l.06.25a2.89,2.89,0,0,0,.22.64,1.36,1.36,0,0,0,.59.64,1.53,1.53,0,0,0,1,.09,2.63,2.63,0,0,0,2-1.68A1.87,1.87,0,0,0,68.89,81a4.68,4.68,0,0,0-1.18-1.4A9.61,9.61,0,0,0,66,78.51a16.87,16.87,0,0,0-1.83-.81,13.25,13.25,0,0,1-1.81-.81A4.21,4.21,0,0,1,61,75.65a3.72,3.72,0,0,1-.52-1.46A6,6,0,0,1,60.44,73c.06-.62.11-1,.11-1h.16s0,.36,0,1a6.75,6.75,0,0,0,.18,1.07,3.24,3.24,0,0,0,.58,1.21,3.55,3.55,0,0,0,1.27.9,15.19,15.19,0,0,0,1.77.6,18.13,18.13,0,0,1,2,.69,9.93,9.93,0,0,1,1,.5,10.25,10.25,0,0,1,.94.59,6.37,6.37,0,0,1,1.71,1.66l.14.23a4.72,4.72,0,0,1,.66-.31,6.55,6.55,0,0,1,1.14-.36,10.21,10.21,0,0,1,1.53-.23c1.13-.11,2.46-.06,3.86-.07a14.63,14.63,0,0,0,2.13-.16,7.81,7.81,0,0,0,1.05-.23,8.72,8.72,0,0,0,1-.36,12.71,12.71,0,0,0,1.93-1,13.64,13.64,0,0,0,1.69-1.25c.25-.22.49-.46.72-.69S86.5,75.36,86.68,75.11Zm-9.38,1.4c-5.68,1.93-11.93-1.38-11.93-1.38S68.31,68.7,74,66.77s11.93,1.38,11.93,1.38S83,74.58,77.3,76.51ZM75.83,60.39c.48-.42.89-.82,1.25-1.2A5.53,5.53,0,0,0,77.86,58a5.76,5.76,0,0,0,.35-1.24,8.74,8.74,0,0,0,.1-1.11c0-.33,0-.59,0-.77s0-.29,0-.29l.11,0,.18.22a5.14,5.14,0,0,1,.47.68l.27.54a6.81,6.81,0,0,1,.22.69,4.7,4.7,0,0,1,.09,1.82,5.19,5.19,0,0,1-.86,2,6.09,6.09,0,0,1-1.7,1.6,11.2,11.2,0,0,1-2.13,1c-.74.24-1.46.5-2.18.76l-1.74.69.91-.16c.69-.11,1.42-.17,2.17-.23l2.3-.16c.78-.05,1.57-.14,2.34-.27A10.37,10.37,0,0,0,81,63.06l1-.47.25-.14.21-.12c.14-.08.29-.17.41-.26a2.78,2.78,0,0,0,1-1,1.79,1.79,0,0,0,0-1.23,4.18,4.18,0,0,0-.59-1.22,3.72,3.72,0,0,0-.74-.83,1.74,1.74,0,0,0-.64-.34,1.88,1.88,0,0,0-.27-.05l0-.12a1.26,1.26,0,0,1,.29-.13,1.79,1.79,0,0,1,.94,0,3.44,3.44,0,0,1,1.31.62,4.19,4.19,0,0,1,.66.6,3.92,3.92,0,0,1,.61.84,3.71,3.71,0,0,1,.39,1.12,2.87,2.87,0,0,1-.1,1.42,3.61,3.61,0,0,1-1.9,2c-.2.1-.39.17-.6.26l-.31.11-.28.08c-.42.11-.83.18-1.24.25-.83.1-1.66.19-2.47.22s-1.62.07-2.41.1l-2.31,0c-.74,0-1.46.06-2.14.11s-1.31.14-1.89.24l-.83.18-.52.15-.08,0c-.63.29-1.23.6-1.79.91a12.52,12.52,0,0,0-1.51,1,8.18,8.18,0,0,0-.94.82c-.13.16-.26.32-.37.46a6.52,6.52,0,0,0-.43.6l-.35.55h0l-.08.17-.11.25-.11,0,.09-.25a4.29,4.29,0,0,1,.31-.71,4.94,4.94,0,0,1,.43-.71h0a9.88,9.88,0,0,1,.52-.84c.39-.61.9-1.27,1.43-2l.81-1.09c.28-.37.52-.76.77-1.14A8,8,0,0,0,68,62.3a2.72,2.72,0,0,0,.19-.6,4.43,4.43,0,0,0,.12-.58c0-.19,0-.38.05-.56s0-.36,0-.53,0-.17,0-.26l-.06-.25c0-.16-.07-.32-.1-.48-.08-.31-.21-.59-.27-.86s-.2-.48-.27-.68a6.07,6.07,0,0,1-.22-.64l.09-.08a4.55,4.55,0,0,1,.55.41l.28.24a1.44,1.44,0,0,1,.3.32,7.22,7.22,0,0,1,.59.88c.07.18.15.38.22.58l.11.31,0,.34a6.26,6.26,0,0,1,.06.72c0,.24-.06.49-.09.75a4.58,4.58,0,0,1-.22.73,3.54,3.54,0,0,1-.31.7A9.5,9.5,0,0,1,68.21,64c-.3.39-.59.78-.91,1.13s-.54.61-.81.89l.13-.09a20.17,20.17,0,0,1,1.78-1c.63-.33,1.3-.65,2-1s1.34-.67,2-1a13.74,13.74,0,0,0,1.86-1.22C74.83,61.28,75.35,60.82,75.83,60.39Z"/></g>
        </g>
      </svg>
</div>
<b class="text-bold"> JE BENT INGESCHREVEN </b>
		<div class="para">
			Lorem ipsum dolot sit amet, consectetour adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		</div>
</div>
</ion-content>
