
.grid-details{
    width: 100%;
    height:100%;
}
.grid-detail-imgwithtext{
  position: relative;
  height:60%;
}

.grid-detail-imgwithtext img{
    height: 100%;
    width: 100%;
}
.grid-detail-hilight1 h2{
    position: relative;
    bottom:15px;
    font-family: Helvetica, Verdana;
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;

}

.grid-detail-hilight1 p{
    font-family: Helvetica, Verdana;
    color: #FFF;
    text-align: center;
    font-size: 1em;

}

.grid-detail-hilight1 {
 background-color: rgba(85,85,85,0.40);
 position: absolute;
 height: 55px;
 width: 100%;
 color: #FFF;
 bottom: 3px;
 z-index: 1;

}

.info-heading{
    color: rgb(234, 228, 31);
    font-weight: bold;
}

.participant-detail-container{
    padding:10px;
}

.grid-detail-bgcolor{
    background-color: #F9F9ED;
}

.app-name{
    height: 15px !important;
    font-size:10px;
}
.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}

.grid-centered-and-cropped
{
    object-fit: cover;
}
