<ion-header no-shadow>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="grid-detail-bgcolor">
	<div class="grid-details">
		<div class="grid-detail-imgwithtext">
			<img class="grid-centered-and-cropped" [src]="participantInfo.urlLargeimage" />
			<div class="grid-detail-hilight1">
				<p>{{participantInfo.role}}</p>
				<h2>{{participantInfo.name}}</h2>
			</div>
		</div>
		<div class="participant-detail-container">
			<h5 class="info-heading">Weem isj?</h5>
			  <p>{{participantInfo.description}}</p>
			<h5 class="info-heading">Laeftiêd</h5>
			  <p>{{participantInfo.age}}</p>
			<h5 class="info-heading">Devies</h5>
			  <p>{{participantInfo.declaration}}</p>
			<h5 class="info-heading">Hobby’s</h5>
			  <p>{{participantInfo.hobbies}}</p>
		</div>
	</div>

</ion-content>