.error-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    #error{
        position: absolute;
        height: 100%;
        width:100%;
        text-align: center;
        vertical-align: center;
    }
}
