<ion-header no-shadow>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content [class.list-detail-bgcolor-news]=hideFab [class.list-detail-bgcolor-programma]=!hideFab>
		<div class="img-with-text">
    <img class="grid-centered-and-cropped" [src]="hideFab ? program.urlMainpicture : program.urlImgMain"/>
		         <div class="hilight">
		             <p [hidden]=!hideFab>{{program.date | detaildate }}</p>
								 <p [hidden]=hideFab>{{program.programdate | detaildate }}</p>
								 <h2>{{ hideFab ? program.heading :program.programName }}</h2>
		         </div>
		</div>
    <p style="text-align:justify; padding:10px;">{{ hideFab ? program.detailNews : program.description}}</p>
    <ion-fab bottom right [hidden] = "hideFab">
    <button ion-fab color="firstColor"><ion-icon name="md-more"></ion-icon></button>
    <ion-fab-list side="top" >
			<button ion-fab color="firstColor" (click)="otherShare()"><ion-icon name="md-share"></ion-icon></button>
      <button ion-fab color="firstColor" (click)="calender()"><ion-icon name="calendar"></ion-icon></button>
      <button ion-fab color="firstColor" (click)="displayModal()"><ion-icon name="md-pin"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
