.img-with-text{
  position: relative;
}

.hilight h2{
    position: relative;
    bottom:15px;
    font-family: Helvetica, Verdana;
    color: #FFF;
    text-align: center;
    font-size: 1.3em;

}

.hilight p{
    font-family: Helvetica, Verdana;
    color: #FFF;
    text-align: center;
    font-size: 1em;

}

.hilight {
 background-color: rgba(85,85,85,0.40);
 position: absolute;
 height: 55px;
 width: 100%;
 color: #FFF;
 bottom: 3px;
 z-index: 1;
}

.list-detail-bgcolor-news{
    background-color: #E4F7EC;
}

.list-detail-bgcolor-programma{
    background-color: #FCE8E8;
}
.app-name{
    height: 15px !important;
    font-size:10px;
}
.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}

.grid-centered-and-cropped
{
    object-fit: cover;
}