<ion-header no-shadow>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="err-wrapper" [hidden]=!noError [style.background-color]='themeColor'>
		<error [themeColor]='themeColor' [hidden]=!noError></error>
	</div>
	<ul class="list-style" [hidden]=noError>
		<li [hidden]="!isProgramma" class="list-element" *ngFor="let program of programs" (click)="itemSelected(program)">
			<div>
				<svg height="100%" width="50" class="background-line">
					<rect x="23" y="0" width="4" height="100%" [class.rect-color]="isProgramma" [class.rect-color-news]="isNews" />
				</svg>
				<svg height="50" width="50">
					<circle cx="25" cy="25" r="25" [class.rect-color]=isProgramma [class.rect-color-news]=!isProgramma />
					<text y="25" transform="translate(27)">
						<tspan class="date" x="0" text-anchor="middle">{{ program.programdate | getdate }}</tspan>
						<tspan class="month" x="0" text-anchor="middle" dy="15">{{ program.programdate | getmonth }}</tspan>
					</text>
				</svg>
				<img class="centered-and-cropped" [src]="isProgramma ? program.urlImgBanner : program.urlBannerpicture" />
				<label>{{program.programName}}</label>
			</div>
		</li>
		<!-- the below list will be loaded for news -->
		<li [hidden]=isProgramma class="list-element" *ngFor="let program of programs" (click)="itemSelected(program)">
			<div>
				<svg height="100%" width="50" class="background-line">
					<rect x="23" y="0" width="4" height="100%" [class.rect-color]="isProgramma" [class.rect-color-news]="!isProgramma" />
				</svg>
				<svg height="50" width="50">
					<circle cx="25" cy="25" r="25" [class.rect-color]=isProgramma [class.rect-color-news]=!isProgramma />
					<text y="25" transform="translate(27)">
						<tspan class="date" x="0" text-anchor="middle">{{ program.date | getdate }}</tspan>
						<tspan class="month" x="0" text-anchor="middle" dy="15">{{ program.date | getmonth }}</tspan>
					</text>
				</svg>
				<img class="centered-and-cropped" [src]="isProgramma ? program.urlImgBanner : program.urlBannerpicture" />
				<label>{{program.heading }}</label>
			</div>
		</li>
	</ul>
</ion-content>