.center{
    text-align: center;
}

.clip-img {
    position: absolute;
    z-index: -1;
}

.background-line{
    position: absolute;
    z-index: -1;
}
.rect-color{
    fill: rgba(254, 95, 85, 1);
    opacity: 1;
}

.rect-color-news{
    fill: rgba(68,211,126,1);
    opacity: 1;
    }

.list-style{
    position: absolute;
    top:0px;
    opacity: 1;
    width:100%;
    padding:0;
    border-radius: 5px;
    list-style-type: none;
}

.list-element{
    position: relative;
    margin-left: 2px;
    padding: 0px 10px 10px 10px;
    height:100px;
    div{
        height: 100px;
    }
     img{
        position: absolute;
        height: 80px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:90%; 
        left:20px;
        top: 10px;
        z-index: -1;
    }
    label{
        position:absolute;
        text-align: right;
        width: 80%;
        right:20px;
        bottom:20px;
        color: white;
        text-shadow: 0px 0px 10px #000000;
        font-size: 18px;
        font-weight: bold;
    }

}

.date{
    fill:white;
    font-size: 23px;
}

.month{
    fill: white;
    font-size: 15px;
}
.centered-and-cropped { object-fit: cover }

.app-name{
    height: 15px !important;
    font-size:10px;
}
.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}

.err-wrapper{
    height: 100%;
    width: 100%;
}
