<ion-header>

	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>

</ion-header>

<ion-content>
	<div class="err-wrapper" [hidden]=!noError [style.background-color]='themeColor'>
		<error [themeColor]='themeColor' [hidden]=!noError></error>
	</div>
	<div class="grid-container" [hidden]=noError>
		<div class="grid-img" *ngFor="let participant of participants" (click)="showDetail(participant)">
			<img class="grid-centered-and-cropped" [src]="participant.urlSmallimage" />
			<div class="grid-hilight">
				<p>{{ participant.role }}</p>
			</div>
		</div>
	</div>
</ion-content>