.grid-container{
    width: 100%;
    height: 100%;
}
.grid-img{
  border: 2px solid white;
  float: left;
  position: relative;
  width: 50%;
  height: 40%;
}

.grid-img img{
    width: 100%;
    height: 100%
}

.grid-hilight {
 background-color: rgba(85,85,85,0.40);
 position: absolute;
 height: 24px;
 width: 100%;
 color: #FFF;
 bottom: 0px;
 z-index: 1;
}

.grid-hilight p{
    position: relative;
    font-family: Helvetica, Verdana;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    bottom:12px;
}

.app-name{
    height: 15px !important;
    font-size:10px;
}
.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}
.grid-centered-and-cropped
{
    object-fit: cover;
}
.err-wrapper{
    height: 100%;
    width: 100%;
}