.container-mitlast{
      width: 100%;
      height: 100%;
     padding: 5px;
     background-color: #eeeeee;
     text-align: center;
}

.cls-1 {
      fill: #fe5f55;
  }

.err-wrapper{
   // height: 100%;
  //  width: 100%;
    background-color: #ff1155;
}
.img_carn_last{
    margin-left: auto;
    margin-right: auto;
    //height: 10%;
   // display: block;
    width: 40%;
  //  padding-left: 340px;
   // padding-right: 340px;
    padding-top: 30px;
    padding-bottom: 30px;

}
b,.text-bold{
      // text-align: left;
     //  text-align: center;
      // padding-left: 20px;
    font-size: 20px;
   }
.freetext{
   // height:7%;
    font-size: 20px;
   // position: absolute;
    //text-align: center;
   // padding-left: 20px;
   // padding-right: 20px;
   b,.text-bold{
       text-align: left;
       text-align: center;
       padding-left: 20px;

   }
}
.para{
width: 100%;
padding-top: 15px;
//position: absolute;
}
.carn-main{
      height: 75%;

  }
  
.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}