<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="container-mitlast">
		<div class="img_carn_last" alt="">
			<svg xmlns="http://www.w3.org/2000/svg" class="img-carn3" viewBox="0 0 85.13 100.96">
				<title>mitdoon_afternoon</title>
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<path class="cls-3" d="M54.57,94.27c-1.68-5.94-8.88-10-13.07-10-10.76-.2-11.36-7.22-11.4-8H33s2.83,0,1.69-2.53h0l-3.67-8a20,20,0,0,0,9.84-4.79,1.23,1.23,0,0,0,.2-.17,60.65,60.65,0,0,0,4.15-5.23.1.1,0,0,0,0-.08,56.4,56.4,0,0,0,9.3-23.35V32c.1-.49.12-.91.2-1.28s.07-.78.1-1.1c.07-.78.07-1.2.07-1.2,0-.32,0-.64,0-1A27.46,27.46,0,0,0,0,27.45c0,.32,0,.64,0,1a2.87,2.87,0,0,0,0,.44c.05,1,.15,1.86.27,2.77,0,.07,0,.12,0,.17A54.31,54.31,0,0,0,10.58,57l.49.64c.47.61.88,1.1,1.23,1.52s.61.71.81.9l.32.32h0A19.88,19.88,0,0,0,23.9,65.72l-3.13,7.2c-1.37,3.14,1.63,3.35,1.63,3.35h3.25c1.92,12,10.69,12.19,14.67,12.3C50.38,89.73,51.15,98,51.15,99.3c.28.91.77,1.89,2.73,1.61s1.6-2.59,1.6-2.59.14-.84-.91-4.05Z"
						/>
						<path class="cls-3" d="M64.08,11.43A20.77,20.77,0,0,0,56.26,13,1.87,1.87,0,0,0,55.5,15l.19.44h0v0l0,0,.06.08c.42.87,1.17,2.5,1.53,3.54C59,24.79,60.2,36.11,51,52.85l-.19.35a1.49,1.49,0,0,0,.17,1.52l.23.33.38.49c.36.47.67.84.94,1.17s.47.54.62.69l.24.25h0a15.23,15.23,0,0,0,8,4.11L59,67.26c-.84,1.93.46,2.41,1,2.53H68.7c.57-.11,1.59-.49.94-1.9h0l-2.81-6.13a15.37,15.37,0,0,0,7.53-3.66.91.91,0,0,0,.15-.13,46.45,46.45,0,0,0,3.18-4,.08.08,0,0,0,0-.06A43.15,43.15,0,0,0,84.82,36v-.1c.08-.37.1-.69.15-1s.06-.6.07-.85c.06-.6.06-.92.06-.92,0-.24,0-.49,0-.73a21,21,0,0,0-21-21Z"
						/>
					</g>
				</g>
			</svg>
		</div>
		<b class="text-bold"> JE BENT INGESCHREVEN </b>
		<div class="para">
			Lorem ipsum dolot sit amet, consectetour adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		</div>
	</div>
</ion-content>