<ion-header no-shadow>
	<ion-toolbar color="firstColor">
		<ion-title text-center>
			<svg width="30" height="5">
				<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
			</svg>
			Zoatmaale Jeugd
			<svg width="30" height="5">
				<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
			</svg>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<div class="row">
			<div class="column-left" (click)="gotoListPage('Programma', 'firstColor')">
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 123.16">
						<title>overview_programma</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<path class="cls-1-1" d="M0,110.53V34.74H120v75.79a12.63,12.63,0,0,1-12.63,12.63H12.63A12.63,12.63,0,0,1,0,110.53" />
								<rect class="cls-2-1" y="66.32" width="120" height="25.26" />
								<rect class="cls-3-1" x="25.26" y="72.63" width="12.63" height="12.63" />
								<rect class="cls-3-1" x="44.21" y="72.63" width="12.63" height="12.63" />
								<rect class="cls-3-1" x="82.11" y="72.63" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="25.26" y="53.68" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="44.21" y="53.68" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="63.16" y="53.68" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="82.11" y="53.68" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="25.26" y="91.58" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="44.21" y="91.58" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="63.16" y="91.58" width="12.63" height="12.63" />
								<rect class="cls-4-1" x="82.11" y="91.58" width="12.63" height="12.63" />
								<rect class="cls-5-1" x="63.16" y="72.63" width="12.63" height="12.63" />
								<path class="cls-5-1" d="M107.37,9.47H12.63A12.63,12.63,0,0,0,0,22.11V41.05H120V22.11A12.63,12.63,0,0,0,107.37,9.47ZM31.58,31.58a9.47,9.47,0,1,1,9.47-9.47A9.47,9.47,0,0,1,31.58,31.58Zm56.84,0a9.47,9.47,0,1,1,9.47-9.47A9.47,9.47,0,0,1,88.42,31.58Z"
								/>
								<path class="cls-3-1" d="M88.42,0a6.32,6.32,0,0,0-6.32,6.32V22.11a6.32,6.32,0,0,0,12.63,0V6.32A6.32,6.32,0,0,0,88.42,0" />
								<path class="cls-3-1" d="M31.58,0a6.32,6.32,0,0,0-6.32,6.32V22.11a6.32,6.32,0,1,0,12.63,0V6.32A6.32,6.32,0,0,0,31.58,0" />
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Programma
				</div>
			</div>
			<div class="column-right" (click)="gotoProklemasie('Proklemasie', 'secondColor')">
			<!--<div class="column-right" (click)="displayToast()">-->
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 135">
						<title>overview_proklemasie</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<path class="cls-1-2" d="M14.21,65.61A26.53,26.53,0,0,1,40.74,39.08c14.65,0,30.56,8.09,30.31,22.74-.45,26.77-3.79,30.31-30.31,30.31A26.52,26.52,0,0,1,14.21,65.61Z"
								/>
								<path class="cls-1-2" d="M63.95,61.82C63.7,47.17,79.61,39.08,94.26,39.08a26.53,26.53,0,0,1,0,53.05C67.74,92.13,64.39,88.58,63.95,61.82Z"
								/>
								<rect class="cls-1-2" x="24.87" y="95.92" width="85.26" height="14.21" />
								<rect class="cls-2-2" x="63.95" width="7.11" height="31.97" />
								<rect class="cls-2-2" x="56.84" y="7.11" width="21.32" height="7.11" />
								<circle class="cls-2-2" cx="67.5" cy="35.53" r="14.21" />
								<path class="cls-2-2" d="M17.76,88.82v28.42h99.47V88.82ZM32,108l-5-5,5-5,5,5Zm14.21,0-5-5,5-5,5,5Zm42.63,0-5-5,5-5,5,5ZM103,108l-5-5,5-5,5,5Z"
								/>
								<path class="cls-2-2" d="M35.53,88.82A28.42,28.42,0,1,1,57.68,42.64h8.57a35.56,35.56,0,1,0-9.49,46.18Z" />
								<path class="cls-2-2" d="M99.47,24.87A35.53,35.53,0,0,0,68.75,42.64h8.57A28.41,28.41,0,1,1,99.47,88.82H78.25A35.5,35.5,0,1,0,99.47,24.87Z"
								/>
								<rect class="cls-2-2" x="60.39" y="46.18" width="14.21" height="46.18" />
								<path class="cls-3-2" d="M74.61,55.6V47.77a13.79,13.79,0,0,1-14.21,0V55.6a20.92,20.92,0,0,0,14.21,0Z" />
								<polygon class="cls-4-2" points="62.17 110.13 56.84 101.25 62.17 92.37 72.83 92.37 78.16 101.25 72.83 110.13 62.17 110.13"
								/>
								<path class="cls-5-2" d="M124.34,124.34A10.66,10.66,0,0,1,113.68,135H21.32a10.65,10.65,0,0,1-10.66-10.66h0a10.66,10.66,0,0,1,10.66-10.66h92.37a10.66,10.66,0,0,1,10.66,10.66Z"
								/>
								<path class="cls-6-2" d="M28.42,127.89a3.55,3.55,0,0,1,0-7.11c2,0,7.11,3.55,7.11,3.55S30.39,127.89,28.42,127.89Z" />
								<path class="cls-6-2" d="M53.29,127.89a3.55,3.55,0,0,1,0-7.11c2,0,7.11,3.55,7.11,3.55S55.25,127.89,53.29,127.89Z" />
								<path class="cls-6-2" d="M78.16,127.89a3.55,3.55,0,0,1,0-7.11c2,0,7.11,3.55,7.11,3.55S80.12,127.89,78.16,127.89Z" />
								<path class="cls-6-2" d="M103,127.89a3.55,3.55,0,0,1,0-7.11c2,0,7.11,3.55,7.11,3.55S105,127.89,103,127.89Z" />
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Proklemasie
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column-left" (click)="gotoGridPage('Wae stèlle veur', 'thirdColor')">
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 137.5">
						<title>overview_waestellenveur</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<path class="cls-1-3" d="M87.5,12.5H56.25a6.25,6.25,0,0,1-12.5,0H12.5A12.54,12.54,0,0,0,0,25V125a12.54,12.54,0,0,0,12.5,12.5h75A12.54,12.54,0,0,0,100,125V25A12.54,12.54,0,0,0,87.5,12.5"
								/>
								<path class="cls-2-3" d="M87.5,128.13h-75A3,3,0,0,1,9.38,125V25a3,3,0,0,1,3.13-3.12h75A3,3,0,0,1,90.63,25V125a3,3,0,0,1-3.12,3.13"
								/>
								<path class="cls-3-3" d="M50,0A12.54,12.54,0,0,0,37.5,12.5V25a6.27,6.27,0,0,0,6.25,6.25h12.5A6.27,6.27,0,0,0,62.5,25V12.5A12.54,12.54,0,0,0,50,0Zm0,6.25a6.25,6.25,0,1,1-6.25,6.25A6.27,6.27,0,0,1,50,6.25Z"
								/>
								<rect class="cls-1-3" x="25" y="109.38" width="50" height="6.25" />
								<path class="cls-4-3" d="M50,93.75c-7.5,0-7.81-10.94-7.81-10.94V73.44H57.81v9.38S57.5,93.75,50,93.75" />
								<path class="cls-5-3" d="M67.19,64.06a3.13,3.13,0,1,1-3.12-3.12,3,3,0,0,1,3.13,3.13m-28.12,0a3.13,3.13,0,1,0-3.12,3.13,3,3,0,0,0,3.13-3.12"
								/>
								<path class="cls-6-3" d="M64.06,54.69c0-11.88-28.12-7.81-28.12,0V65.63a14.06,14.06,0,0,0,28.13,0Z" />
								<path class="cls-7-3" d="M50,40.63c-9.37,0-15.62,7.81-15.62,17.19v3.44l3.13,2.81V56.25L56.25,50l6.25,6.25v7.81l3.13-2.81V57.81c0-6.25-1.56-12.5-9.37-14.06l-1.56-3.12Z"
								/>
								<path class="cls-8-3" d="M54.69,64.06a1.56,1.56,0,1,1,1.56,1.56,1.48,1.48,0,0,1-1.56-1.56m-12.5,0a1.56,1.56,0,1,0,1.56-1.56,1.48,1.48,0,0,0-1.56,1.56"
								/>
								<path class="cls-1-3" d="M57.81,82.81h0a11.33,11.33,0,0,1-15.62,0S25,85.94,25,103.13H75c0-17.19-17.19-20.31-17.19-20.31"
								/>
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Wae stèlle veur
				</div>

			</div>
			<div class="column-right" (click)="gotoQuizHome('Vastelaoves Kwis', 'firstColor')">
			<!--<div class="column-right" (click)="displayToast()">-->
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115 127.78">
						<title>overview_quiz</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<rect class="cls-1-4" width="115" height="127.78" />
								<rect class="cls-2-4" x="12.78" y="31.94" width="51.11" height="6.39" />
								<rect class="cls-2-4" x="12.78" y="67.08" width="51.11" height="6.39" />
								<rect class="cls-2-4" x="12.78" y="102.22" width="51.11" height="6.39" />
								<rect class="cls-3-4" y="15.97" width="6.39" height="108.61" />
								<rect class="cls-3-4" x="70.28" y="19.17" width="3.19" height="102.22" />
								<rect class="cls-3-4" x="108.61" y="15.97" width="6.39" height="108.61" />
								<rect class="cls-3-4" x="3.19" y="86.25" width="108.61" height="3.19" />
								<rect class="cls-3-4" y="121.39" width="115" height="6.39" />
								<rect class="cls-3-4" x="3.19" y="51.11" width="108.61" height="3.19" />
								<rect class="cls-3-4" width="115" height="19.17" />
								<rect class="cls-3-4" x="89.05" y="40.6" width="2.34" height="2.34" />
								<path class="cls-3-4" d="M90.61,27.34A4.51,4.51,0,0,0,85.93,32h2.34a2.34,2.34,0,0,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,38.65v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,27.34Z"
								/>
								<rect class="cls-3-4" x="89.05" y="75.61" width="2.34" height="2.34" />
								<path class="cls-3-4" d="M90.61,62.34A4.51,4.51,0,0,0,85.93,67h2.34a2.34,2.34,0,0,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,73.65v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,62.34Z"
								/>
								<rect class="cls-3-4" x="89.05" y="110.34" width="2.34" height="2.34" />
								<path class="cls-3-4" d="M90.61,97.08a4.51,4.51,0,0,0-4.68,4.68h2.34a2.34,2.34,0,1,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,108.39v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,97.08Z"
								/>
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Vastelaoves Kwis
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column-left" (click)="gotoListPage('Noets', 'secondColor')">
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 139.77">
						<title>overview_neuts</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<rect class="cls-1-5" x="30.68" y="102.27" width="13.64" height="34.09" />
								<path class="cls-1-5" d="M3.41,47.73V78.41c0,23.86,27.27,23.86,27.27,23.86H44.32s27.27,0,27.27-23.86V47.73" />
								<path class="cls-2-5" d="M68.18,68.18A20.46,20.46,0,0,1,47.73,88.64H27.27A20.46,20.46,0,0,1,6.82,68.18V20.45A20.46,20.46,0,0,1,27.27,0H47.73A20.46,20.46,0,0,1,68.18,20.45Z"
								/>
								<path class="cls-2-5" d="M75,133s-20.45-6.82-37.5-6.82S0,133,0,133v6.82H75Z" />
								<rect class="cls-1-5" x="6.82" y="20.45" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="40.91" y="20.45" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="40.91" y="34.09" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="6.82" y="34.09" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="40.91" y="47.73" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="6.82" y="47.73" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="6.82" y="61.36" width="27.27" height="6.82" />
								<rect class="cls-1-5" x="40.91" y="61.36" width="27.27" height="6.82" />
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Noets
				</div>
			</div>
			<div class="column-right" (click)="gotoMitHome('Mèt DOON!', 'thirdColor')">
			<!--<div class="column-right" (click)="displayToast()">-->
				<div class="svg-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 122.7">
						<title>overview_mitdoon</title>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_1-2" data-name="Layer 1">
								<rect class="cls-1-6" x="44.64" y="104.74" width="6.67" height="10" transform="translate(-63.54 66.06) rotate(-45)" />
								<path class="cls-2-6" d="M140,70a3.33,3.33,0,0,1-3.33,3.33H3.33A3.33,3.33,0,0,1,0,70V3.33A3.33,3.33,0,0,1,3.33,0H136.67A3.33,3.33,0,0,1,140,3.33Z"
								/>
								<rect class="cls-3-6" x="6.67" y="16.67" width="126.67" height="50" />
								<rect class="cls-2-6" x="93.33" y="30" width="30" height="6.67" />
								<rect class="cls-2-6" x="93.33" y="46.67" width="30" height="6.67" />
								<rect class="cls-2-6" x="16.67" y="30" width="60" height="6.67" />
								<rect class="cls-2-6" x="16.67" y="46.67" width="60" height="6.67" />
								<rect class="cls-4-6" x="96" y="39.22" width="10" height="6.67" transform="translate(-0.52 83.85) rotate(-44.98)" />
								<path class="cls-5-6" d="M29.1,114.43a8.31,8.31,0,0,0,11.76,0L62.44,92.92,50.7,81.14,29.11,102.67A8.31,8.31,0,0,0,29.1,114.43Z"
								/>
								<path class="cls-5-6" d="M97.52,41.43l4.72,4.71s-6,12.94-10.67,17.64L63.3,92.06,51.51,80.27,79.78,52C84.51,47.28,97.52,41.43,97.52,41.43Z"
								/>
								<rect class="cls-2-6" x="54.07" y="77.83" width="6.67" height="16.67" transform="translate(-44.12 65.83) rotate(-45)" />
								<rect class="cls-6-6" x="39.07" y="104.04" width="36.67" height="6.67" transform="translate(-59.11 72.04) rotate(-45)" />
							</g>
						</g>
					</svg>
				</div>
				<div class="text-center">
					Mèt doon!
				</div>
			</div>
		</div>
	</div>
</ion-content>