

.container{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.row{
    width:100%;
    height: 33%;
    .column-left{
        margin:1px;
        padding-top:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float: left;
        width: 48%;
        height:90%;
    }
    .column-right{
        margin:1px;
        padding-top:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float: right;
        width: 48%;
        height: 90%;
    }
    .svg-center{
        margin: auto;
        height: 50%;
        width: 50%;
        svg{
            height: 100%;
            width: 100%;
        }
    }
    .text-center{
        margin:20px auto auto auto;
        float:bottom;
        width: 75%;
        text-align: center;
        color: #555555;
    }
}

.page-header{
    color: #fff;
    margin:auto;
}

.app-name{
    color: #fff;
    text-align: center;
}

.cls-1-1 {
    fill: #fce4e3;
}

.cls-2-1 {
    fill: #fc9997;
}

.cls-3-1 {
    fill: #b0bec5;
}

.cls-4-1 {
    fill: #90a4ae;
}

.cls-5-1 {
    fill: #fe5f55;
}

.cls-1-2 {
    fill: #39dd96;
}

.cls-2-2 {
    fill: #ffc107;
}

.cls-3-2 {
    fill: #ff9800;
}

.cls-4-2 {
    fill: #299966;
}

.cls-5-2 {
    fill: #cfd8dc;
}

.cls-6-2 {
    fill: #37474f;
}
.cls-1-3 {
    fill: #c1b352;
}

.cls-2-3 {
    fill: #fff;
}

.cls-3-3 {
    fill: #90a4ae;
}

.cls-4-3 {
    fill: #ff9800;
}

.cls-5-3 {
    fill: #ffa726;
}

.cls-6-3 {
    fill: #ffb74d;
}

.cls-7-3 {
    fill: #fe5f55;
}

.cls-8-3 {
    fill: #784719;
}
.cls-1-4 {
    fill: #ffeae9;
}

.cls-2-4 {
    fill: #aa3f3c;
}

.cls-3-4 {
    fill: #fe5f55;
}
.cls-1-5 {
    fill: #208456;
}

.cls-2-5 {
    fill: #39dd96;
}
.cls-1-6 {
    fill: #546e7a;
}

.cls-2-6 {
    fill: #c1b352;
}

.cls-3-6 {
    fill: #fffdf0;
}

.cls-4-6 {
    fill: #455a64;
}

.cls-5-6 {
    fill: #fe5f55;
}

.cls-6-6 {
    fill: #90a4ae;
}