.containerss {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #eeeeee;
  text-align: center;
}

.cls-1 {
  fill: #fe5f55;
}

.err-wrapper {
  height: 100%;
  width: 100%;
  // background-color: #ff1155;
}

.img_carn {
  margin-left: auto;
  margin-right: auto;
  // display: block;
  width: 24%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.list_input {
  .form-control {
    line-height: 20px;
    input::placeholder {
      color: #fe5f55 !important;
    }
  }
}

.form_carn {
  padding-left: 4px;
  height: 39px;
  background: transparent;
  line-height: 30px;
  // you should add the following:
  box-sizing: border-box;
  //width: 100%;
}

.title {
  vertical-align: bottom;
  background-color: #3333ff;
}

.sub-button {
  height: 20%;
  //  vertical-align: bottom;
  // position: absolute;
  bottom: 0;
  padding-left: 7%;

  .centree {
    text-align: center;
    //  width: 750%;
  }
  // text-align:center;
  /*   h1,.large_button {
             line-height: 10vh !important;
             width: 90%;
             font-size: 2.2em;
         }*/
}

.carn-main {
  height: 75%;
}

.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}

.error-border{
  border: 1px solid red;
}