<!--
  Generated template for the MitBoard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="containerss">
		<!-- <img src="images/icon.png" class="img_carn" alt=""> -->
		<div class="img_carn" alt="">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 111.14">
				<title>mitdoon_boardof11</title>
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<path class="cls-2" d="M74.7,60.27s.77-5.07,1.69-10.4l2.73,19.85L85,69.17,81.92,41.33c.33-2.43.77-6.12.93-9.93.28-6.5,1.27-27.14-17.47-27.14S47.18,21.49,47.18,21.49l1.37,22.36L45.94,68.91l5.87.53,2.33-18c1.42,4.79,2.76,9.2,2.76,9.2l-3.8,23h8.29v23.76c-3,.05-4.8.52-4.8,1.85s2.89,1.86,2.89,1.86h6.71v-1.75a1.5,1.5,0,0,0-.22-.79V83.67h2.12l2,12.33-2.17,12.27a1.42,1.42,0,0,0-.52,1.12v1.75h6.71s2.89-.45,2.89-1.86-1.71-1.75-4.47-1.84L74.34,96,72.63,83.67H80Zm-5-25.08v5.26h0l1.89.9L65.65,52l-5.8-11,1.48-.37V35A14.9,14.9,0,0,1,50.84,20.82,14.44,14.44,0,0,1,51,19.34c4.13-.28,18-1.57,18.4-6.09,1.33,2.46,8.36,8.62,11.2,9.09A14.88,14.88,0,0,1,69.67,35.19Z"
						/>
						<path class="cls-2" d="M39.87,103.78,34,102.52H33L35.77,88,33,76.6V70.84H34v-6l5.23-.09-.64-27.67H27.89s-2,6.12-7.47,6.44-7.56-6.44-7.56-6.44H3.32L2.51,65.42h5l.26,5.43h.76v31.67h-1s-2,.37-5.84,1.27,0,5.39,0,5.39H18.95V76.61h3.66L25.4,87.76l-2.79,14.77v6.65H39.87S43.66,104.6,39.87,103.78Z"
						/>
						<path class="cls-2" d="M6.79,16.1a14.75,14.75,0,0,0-.47,1.82,14.72,14.72,0,0,0-.2,2.4,14.56,14.56,0,1,0,29.11,0,14.29,14.29,0,0,0-.81-4.57l3-4.08L32.09,9.8l1-5.41L26.66,6.24,23.68,0,18.16,5.76,13.88.8l-2,6.55L5,5.1l2.59,5.79-5,1.4Z"
						/>
					</g>
				</g>
			</svg>
		</div>
		<form [formGroup]="boardForm" (ngSubmit)="goTOMitDoon('BOARD OF 11','thirdColor')">
			<ion-list class="list_input">
				<ion-item>
					<ion-input type="text" placeholder="Diene naam" class="form-control1" formControlName="name" [(ngModel)]="name"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="tel" placeholder="Tillefoonnummer" class="form-control1" formControlName="phone" [(ngModel)]="phone"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="email" placeholder="E-mail adres" class="form-control1" formControlName="email" [(ngModel)]="email"></ion-input>
				</ion-item>
			</ion-list>

			<div class="sub-button">
        <button ion-button round class="centree" [color]="themeColor" [disabled]="!boardForm.valid">
        Insjrieve
      </button>
			</div>
		</form>

	</div>

</ion-content>