<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding="">
	<div class="quiz-home-container">
		<div class="quiz-home-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115 127.78">
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<rect class="cls-1-quiz-home" width="115" height="127.78" />
						<rect class="cls-2-quiz-home" x="12.78" y="31.94" width="51.11" height="6.39" />
						<rect class="cls-2-quiz-home" x="12.78" y="67.08" width="51.11" height="6.39" />
						<rect class="cls-2-quiz-home" x="12.78" y="102.22" width="51.11" height="6.39" />
						<rect class="cls-2-quiz-home" y="15.97" width="6.39" height="108.61" />
						<rect class="cls-3-quiz-home" x="70.28" y="19.17" width="3.19" height="102.22" />
						<rect class="cls-3-quiz-home" x="108.61" y="15.97" width="6.39" height="108.61" />
						<rect class="cls-3-quiz-home" x="3.19" y="86.25" width="108.61" height="3.19" />
						<rect class="cls-3-quiz-home" y="121.39" width="115" height="6.39" />
						<rect class="cls-3-quiz-home" x="3.19" y="51.11" width="108.61" height="3.19" />
						<rect class="cls-3-quiz-home" width="115" height="19.17" />
						<rect class="cls-3-quiz-home" x="89.05" y="40.6" width="2.34" height="2.34" />
						<path class="cls-3-quiz-home" d="M90.61,27.34A4.51,4.51,0,0,0,85.93,32h2.34a2.34,2.34,0,0,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,38.65v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,27.34Z"
						/>
						<rect class="cls-3-quiz-home" x="89.05" y="75.61" width="2.34" height="2.34" />
						<path class="cls-3-quiz-home" d="M90.61,62.34A4.51,4.51,0,0,0,85.93,67h2.34a2.34,2.34,0,0,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,73.65v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,62.34Z"
						/>
						<rect class="cls-3-quiz-home" x="89.05" y="110.34" width="2.34" height="2.34" />
						<path class="cls-3-quiz-home" d="M90.61,97.08a4.51,4.51,0,0,0-4.68,4.68h2.34a2.34,2.34,0,1,1,4.68,0c0,.72-.5,1.2-1.38,2A6,6,0,0,0,89,108.39v.78h2.34v-.78c0-1.28.66-1.93,1.74-2.9s2.16-1.93,2.16-3.73A4.51,4.51,0,0,0,90.61,97.08Z"
						/>
					</g>
				</g>
			</svg>
		</div>
		<div class="quiz-home-text">
			Ben jij de zoatmaale jeugdvasteloavend expert? Doe de kwis en win een leuke prijs!
		</div>
		<div class="quiz-home-btn">
			<button ion-button color="firstColor" block round (click)="gotoQuestions()">Start de kwis</button>
		</div>
	</div>
</ion-content>