page-quiz-home {

}
.cls-1-quiz-home{fill:#ffeae9;}
.cls-2-quiz-home{fill:#aa3f3c;}
.cls-3-quiz-home{fill:#fe5f55;}
.quiz-home-container{
    width:100%;
    height:100%;
}
.quiz-home-icon{
    width:100%;
    padding: 50px 20px 50px 20px;
    height:60%;
    svg{
            height: 100%;
            width: 100%;
        }
}

.quiz-home-text{
    width: 100%;
    font-size: 18px;
    height:25%;
    vertical-align: center;
    text-align: center;
}

.quiz-home-btn{
    width:100%;
    height:15%;
    button{
        width: 100%;
    }
}

.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}