// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$list-ios-margin-top: 0px;
$list-ios-margin-bottom: 0px;
$list-ios-margin-left:0px;
$list-ios-margin-right: 0px;
$list-md-margin-top: 0px;
$list-md-margin-bottom: 0px;
$list-md-margin-left:0px;
$list-md-margin-right: 0px;
$list-wp-margin-top: 0px;
$list-wp-margin-bottom: 0px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  firstColor: (
    base:#fe5f55,
    contrast: #fff
  ),
  secondColor:(
    base:#44d37e,
    contrast: #fff
  ),
  thirdColor: (
    base:#eae41f,
    contrast: #fff
  )
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$radio-ios-color-on: #fe5f55;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$radio-md-color-on: #fe5f55;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
