.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}

.data{
  margin-top:110px;
  margin-left:30px;
  width: 80%;
  height: 300px;
  overflow-y: auto;
  font-family: cursive;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  white-space: pre-wrap;
}

.proklemasiedata{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    z-index: -1;
}