<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="err-wrapper" [hidden]=!noError [style.background-color]='themeColor'>
		<error [themeColor]='themeColor' [hidden]=!noError></error>
	</div>
	<div class="proklemasiedata" [hidden]=noError>
		<svg class="test" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 798.74 1198.9">
			<defs>
				<style>
					.cls-1 {
						fill: #191512;
						opacity: 0.3;
					}
					
					.cls-2 {
						fill: #edcaa9;
					}
					
					.cls-3 {
						fill: #44d37e;
					}
					
					.cls-4 {
						fill: #289965;
					}
					
					.cls-5 {
						fill: #f7dbba;
					}
				</style>
			</defs>
			<title>proklemasie_parchment</title>
			<g id="Layer_2" data-name="Layer 2">
				<g id="Layer_1-2" data-name="Layer 1">
					<path class="cls-1" d="M757.37,962.24v0h-1.84V236.54h1.84v0c22.94-.9,41.37-32.16,41.37-70.61s-18.43-69.72-41.37-70.61v0H459.61V3.68L404.13,35.87,347.55,3.68V95.23H53.47v.15c-.5-.05-1-.08-1.52-.11h0c-.38,0-.76,0-1.14,0-23.41,0-42.38,31.63-42.38,70.66s19,70.66,42.38,70.66c.28,0,.55,0,.83,0V962.23c-.28,0-.55,0-.83,0-23.41,0-42.38,31.63-42.38,70.66s19,70.66,42.38,70.66c.38,0,.76,0,1.14,0h0c.51,0,1-.05,1.52-.11v.16H347.55v95.39L403,1166.72l56.58,32.18v-95.39H757.37v0c22.93-.9,41.37-32.16,41.37-70.61S780.31,963.14,757.37,962.24Z"
					/>
					<rect class="cls-2" x="42.16" y="133.33" width="703.9" height="929.75" />
					<polygon class="cls-3" points="338.07 1067.02 338.07 1190.63 393.56 1158.45 450.14 1190.63 450.14 1067.02 338.07 1067.02"
					/>
					<rect class="cls-4" x="338.07" y="1067.02" width="112.07" height="47.55" />
					<polygon class="cls-3" points="450.14 123.61 450.14 0 394.65 32.18 338.07 0 338.07 123.61 450.14 123.61" />
					<rect class="cls-5" x="44" y="953.93" width="703.9" height="141.31" />
					<ellipse class="cls-5" cx="746.89" cy="1024.59" rx="42.38" ry="70.66" />
					<ellipse class="cls-5" cx="42.38" cy="1024.59" rx="42.38" ry="70.66" />
					<rect class="cls-5" x="44" y="91.55" width="703.9" height="141.31" />
					<ellipse class="cls-5" cx="746.89" cy="162.2" rx="42.38" ry="70.66" />
					<ellipse class="cls-5" cx="46.38" cy="162.2" rx="42.38" ry="70.66" />
				</g>
			</g>
		</svg>
	</div>
	<div class="data" [hidden]=noError>
		<p>{{proklemasie}}</p>
	</div>
</ion-content>