.mithome{
  position: relative;;
  
}

.top-text{
text-align: center;
font-weight: bold;

}

.mitcontainer{
margin-top: 10px;

}

.cls-1 {
      fill: #fe5f55;
  }

.cls-2 {
        fill: #44d37e;
  }

.cls-3 {
        fill: #eae41f;
      }

.mitdoon_afternoon{

  margin-bottom: 10px;
  height: 80px;
  width: 100%;
  padding:15px 75% 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:blue;

  svg{
      height: 100%;
      width: 100%;
  }

}

.mitdoon_boardof11{
  margin-bottom: 10px;
  height: 80px;
  width: 100%;
  padding:15px 75% 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  svg{
    height: 100%;
    width: 100%;
  }

}

.mitdoon_carnaval{
  margin-bottom: 10px;
  height: 80px;
  width: 100%;
  padding:15px 75% 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  svg{
    height: 100%;
    width: 100%;
  }

}

.textformat{
  position: absolute;
  margin-left: 90px;
  margin-top: -40px;
  font-weight: bold;
  //text-align: center;
  color: #fe5f55;
  font-size: 190%;

}
.textformat1{
  position: absolute;
  margin-left: 90px;
  margin-top: -40px;
  font-weight: bold;
  //text-align: center;
  color: #44d37e;
  font-size: 190%;

}
.textformat2{
  position: absolute;
  margin-left: 90px;
  margin-top: -60px;
  font-weight: bold;
  //text-align: center;
  color: #eae41f;
  font-size: 190%;

}
