
.quiz-slide-container{
    height: 100%;
    width: 100%;
    background: #ffeae9;
}

.quiz-slide-questions{
    width:100%;
    height:90%;
}

.quiz-slide-submit{
    height:10%;
    width:100%;
    padding: 0px 10px 0px 10px;
}

.slide{
    width:100%;
    height:100%;
}
.question{
    word-wrap: break-word;
    font-size:15px;
    color: color($colors, firstColor);
    font-weight: bold;
}

.button-answers{
    width:98%;
    border-radius:5px;
    margin:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

.quiz-slide-img{
    height: 150px;
    width:100%;
}
.question-img{
    object-fit: cover;
}

.app-name{
    height: 15px !important;
    font-size:10px;
}

.app-name-text{
    padding: 0px;
    font-size: 12px;
}

.app-page-text{
    font-size:25px;
}

.app-page-name{
    height: 50px !important;
}