<ion-header>
	<ion-toolbar [color]="themeColor" class="toolbar-padding app-name">
		<ion-title text-center>
			<div class="app-name-text">
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
				Zoatmaale Jeugd
				<svg width="30" height="5">
					<line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
				</svg>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-navbar class="app-page-name" [color]="themeColor">
		<ion-title class="list-title ">
			<div class="app-page-text">{{pageTitle}}</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="err-wrapper" [hidden]=!noError [style.background-color]='themeColor'>
		<error [themeColor]='themeColor' [hidden]=!noError></error>
	</div>
	<div class="quiz-slide-container" [hidden]=noError>
		<div class="quiz-slide-questions">
			<ion-slides #mySlider [options]="mySlideOptions">
				<ion-slide class="slide" *ngFor="let sel of quizData; let i = index;">
          <div class="quiz-slide-img">
            <img [src]="sel.urlPicture" class="question-img">
          </div>
					<p class="question">{{sel.question}}</p>
					<ion-list no-lines radio-group>
						<ion-item class="button-answers" *ngFor="let answerId of [1, 2, 3, 4]">
							<ion-label>{{sel["answer" + answerId]}}</ion-label>
							<ion-radio (ionSelect)="ionAnswerSelect(i, answerId);"></ion-radio>
						</ion-item>
					</ion-list>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="quiz-slide-submit">
			<button round block ion-button [color]="themeColor" [disabled]="disableSubmit" (click)="onSubmit()">kloar</button>
		</div>
	</div>
</ion-content>