<!--
  Generated template for the MapView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="themeColor">
    <ion-title>lokasie</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>
  <div class="map-wrapper">
    <map [address]='data.address'></map>
  </div>
</ion-content>
